{% extends 'base.html.twig' %}

{% block title %} Wellcome !{% endblock %}
{% block body %}
<!-- Notice the id="app", this is for Vue to know where to watch -->
<div class="example-wrapper" id="app">
    <client-chat> </client-chat>
    <h1>Hello,</h1>
        This is a friendly message.
    <ul>
        <li>We're building a live customer app with Chatkit, Symfony and Vue.js ✅</li>
    </ul>
</div>
{% endblock %}